.advantage {
  background-color: $gray;
}

.advantage__list {
  padding-top: 60px;
}

.advantage__picture {
  text-align: center;

  @include media-width($tablet-width) {
    order: -1;
    padding-right: 20px;
  }

  @include media-width($desktop-width) {
    display: none;
  }
}

.advantage_wrapper {

  @include media-width($tablet-width) {
    display: flex;
  }
}
