.advantage {
  background-color: $gray;
}

.advantage__list {
  padding-top: 82px;
  paddingpadding-bottom: 41px;

  @include media-width($tablet-width) {
    padding-top: 72px;
    padding-bottom: 5px;
  }

  @include media-width($desktop-width) {
    padding-top: 0;
  }
}

.advantage__picture {
  text-align: center;
  overflow: hidden;

  @include media-width($tablet-width) {
    order: -1;
    margin-right: 40px;
    overflow: inherit;
  }

  @include media-width($desktop-width) {
    display: none;
  }
}

.advantage__image {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -42px;

  @include media-width($tablet-width) {
    width: 268px;
    height: 480px;
    max-width: none;
  }
}

.advantage__wrapper {
  @include media-width($tablet-width) {
    display: flex;
  }
}
