.advantage {
  position: relative;
  background-color: $gray;
  z-index: 1;

  @include media-width($desktop-width) {
    background-color: $white;
  }
}

.advantage__wrapper {
  @include media-width($tablet-width) {
    display: flex;
  }
}


.advantage__list {
  padding-top: 76px;
  padding-bottom: 41px;

  @include media-width($tablet-width) {
    padding-top: 71px;
    padding-bottom: 6px;
  }

  @include media-width($desktop-width) {
    padding-top: 0;
  }
}

.advantage__picture {
  text-align: center;
  overflow: hidden;

  @include media-width($tablet-width) {
    order: -1;
    margin-right: 41px;
    overflow: inherit;
    z-index: 1;
  }

  @include media-width($desktop-width) {
    display: none;
  }
}

.advantage__image {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -42px;

  @include media-width($tablet-width) {
    width: 268px;
    height: 482px;
    max-width: none;
    margin-bottom: 0;
  }
}

.advantage::before {
  content: "";
  position: absolute;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  padding-top: 8%;
  top: -1px;
  z-index: -1;

  @include media-width($desktop-width) {
    top: 9px;
  }
}
