.apps {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 0;
  margin-bottom: 19px;
  padding-right: 38px;
  padding-left: 38px;

  @include media-width($tablet-width) {
    margin-bottom: 35px;
    padding-right: 80px;
    padding-left: 29px;
  }

  @include media-width($desktop-width) {
    margin-bottom: 54px;
  }

  &__item-link {
    color: $white;
  }
}
