.availability {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $black;
  color: $white;
  margin: 0;
  background-position: top -113px center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 660px auto;
  }

  @include media-width($tablet-width) {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    margin-bottom: 0;
    background-position: top center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }
  }

  @include media-width($desktop-width) {
    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px auto;
    }
  }
}

.availability__wrapper {
  padding-top: 22px;

  @include media-width($tablet-width) {
    position: relative;
    z-index: 1;
    margin-right: -20px;
    padding-top: 94px;
    padding-bottom: 80px;
  }

  @include media-width($desktop-width) {
    padding-bottom: 92px;
    padding-top: 109px;
    margin-right: 0;
  }
}

.availability__text {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  margin-bottom: 27px;
  text-align: center;

  @include media-width($tablet-width) {
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    padding-left: 30px;
    padding-right: 81px;
    margin-bottom: 30px;
    max-width: 350px;
  }

  @include media-width($desktop-width) {
    font-size: 50px;
    line-height: 59px;
    margin-bottom: 52px;
  }
}

.availability__picture {
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  height: 286px;
  margin: 0 -20px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png");
    background-size: 258px auto;
  }

  @include media-width($tablet-width) {
    background-image: url("../img/iphone-hand-tablet@1x.png");
    height: 545px;
    position: absolute;
    margin: 0;
    bottom: 0;
    left: -39px;
    z-index: -1;
    right: 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
      background-size: 700px auto;
    }
  }

  @include media-width($desktop-width) {
    background-image: url("../img/iphone-hand-desktop@1x.png");
    height: 645px;
    bottom: 0;
    left: 17px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
      background-size: 1050px auto;
    }
  }
}

.availability__main {
  background-color: $dark;
  padding-top: 27px;
  padding-bottom: 30px;
  margin-left: -20px;
  margin-right: -20px;

  @include media-width($tablet-width) {
    background-color: transparent;
    margin: 0;
    padding-top: 0;
    max-width: 350px;
  }
}

.availability__download {
  display: inline-block;
  color: $white;
  border: 3px solid $white;
  border-radius: 35px;
  padding: 16px 36px 16px 36px;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    padding: 16px 46px 16px 46px;
  }

  @include media-width($desktop-width) {
    font-size: 21px;
    padding: 16px 30px 16px 30px;
  }
}

.availability__download:hover {
  background-color: $white;
  color: $pink;
}

.availability__download:active {
  color: rgba(210, 40, 86, 0.3);
}

.availability__list {
  color: $white;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;

  @include media-width($tablet-width) {
    font-size: 18px;
    padding: 0;
    padding-right: 36px;
  }
}

.availability__button {
  margin-bottom: 31px;
  text-align: center;

  @include media-width($tablet-width) {
    margin-bottom: 43px;
    text-align: left;
  }

  @include media-width($desktop-width) {
    margin-bottom: 65px;
  }
}
