.availability {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $black;
  color: $white;
  padding-top: 36px;
  margin: 0;
  background-position: top -113px center;

  @include media-width($tablet-width) {
    padding-top: 103px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    margin-bottom: 0;
  }

  @include media-width($desktop-width) {
    padding-top: 99px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }
}

.availability__download {
  display: inline-block;
  color: $white;
  border: 3px solid $white;
  border-radius: 35px;
  padding: 20px 30px 20px 30px;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    padding: 20px 37px 20px 37px;
  }

  &:hover {
    background-color: $white;
    color: $pink;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

.availability__list {
  color: $white;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.availability__button {
  margin-bottom: 40px;
  text-align: center;
}

.availability__picture {
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  height: 286px;
  margin: 0 -20px;

  @include media-width($tablet-width) {
    background-image: url("../img/iphone-hand-tablet@1x.png");
    height: 545px;
    margin: -200px -50px;
  }

  @include media-width($desktop-width) {
    background-image: url("../img/iphone-hand-desktop@1x.png");
    height: 645px;
    margin: -220px 0;
  }
}

.availability__text {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  margin-bottom: 33px;
  text-align: center;

  @include media-width($tablet-width) {
    font-size: 40px;
    line-height: 46px;
    text-align: center;
    padding-left: 30px;
    padding-right: 340px;
  }

  @include media-width($desktop-width) {
    font-size: 50px;
    line-height: 56px;
    text-align: center;
    padding-left: 30px;
    padding-right: 640px;
  }
}

.availability__main {
  background-color: $black;
  padding-top: 28px;
  padding-bottom: 35px;
  margin-left: -20px;
  margin-right: -20px;

  @include media-width($tablet-width) {
    background-color: transparent;
    padding-right: 320px;
  }

  @include media-width($desktop-width) {
    padding-right: 640px;
  }
}
