.checkbox-list {
  margin: 0;
  padding: 0;

  @include media-width($desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }

  &__label {
    font-size: 18px;
    line-height: 30px;
    color: $dark;
  }

  &__input {
    margin-right: 33px;

    @include media-width($desktop-width) {
      margin-right: 23px;
    }
  }

  &__item {
    margin-bottom: 47px;

    @include media-width($desktop-width) {
      width: calc(99.9% / 3);
    }
  }
}
