.checkbox-list {
  margin: 0;
  padding: 0;

  @include media-width($desktop-width) {
    display: flex;
    flex-wrap: wrap;

  }
}

.checkbox-list__label {
  font-size: 18px;
  line-height: 30px;
  color: $dark;
}

.checkbox-list__input {
  margin-right: 33px;
}

.checkbox-list__item {
  margin-bottom: 47px;

  @include media-width($desktop-width) {
    margin-right: 40px;
  }
}
