.checkbox-list {
  margin: 0;
  padding: 0;
}

.checkbox-list__label {
  font-size: 18px;
  line-height: 30px;
  color: $dark;
}

.checkbox-list__input {
  margin-right: 33px;
}

.checkbox-list__item {
  margin-bottom: 47px;
}
