.footer {
  &__advertising {
    padding-top: 38px;
    padding-bottom: 40px;

    @include media-width($tablet-width) {
      display: flex;
      justify-content: space-between;
      padding-top: 38px;
    }

    @include media-width($desktop-width) {
      padding-top: 75px;
    }
  }

  &__link {
    margin-bottom: 40px;
    text-align: center;
  }

  &__social {
    margin-bottom: 31px;


    @include media-width($tablet-width) {
      padding-right: 15px;
      padding-top: 5px;
    }

    @include media-width($desktop-width) {
      padding-right: 0;
      padding-left: 15px;
    }
  }

  &__developer {
    display: flex;
    justify-content: center;

    @include media-width($tablet-width) {
      padding-top: 15px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    color: $dark;
    margin-right: 15px;
    padding-top: 5px;

    @include media-width($desktop-width) {
      font-size: 18px;
    }
  }

  &__logo-image {
    display: inline-block;
  }

  &__html-academy {
    &:hover {
      color: red;
    }

    &:active {
      border-color: rgba(40, 54, 69, 0.3);
    }
  }

  &--index {
    display: none;

    @include media-width($tablet-width) {
      display: block;
    }
  }
}
