.footer__advertising {
  padding-top: 38px;
  padding-bottom: 40px;

  @include media-width($tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @include media-width($desktop-width) {
    padding-top: 71px;
  }
}

.footer__link {
  margin-bottom: 40px;
  text-align: center;

  @include media-width($tablet-width) {
    margin-bottom: 0;
  }

  @include media-width($desktop-width) {
    margin-right: 15px;
  }
}

.footer__social {
  margin-bottom: 25px;

  @include media-width($tablet-width) {
    margin-right: 17px;
    margin-top: 4px;
    margin-bottom: 0;
  }

  @include media-width($desktop-width) {
    margin-right: 9px;
  }
}

.footer__developer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__text {
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: $dark;
  margin-right: 15px;

  @include media-width($tablet-width) {
    margin-bottom: 10px;
  }

  @include media-width($desktop-width) {
    font-size: 18px;
  }
}

.footer__htmlacademy {
  padding-top: 5px;

  @include media-width($tablet-width) {
    padding-top: 0;
  }
}

.footer__htmlacademy-image {
  fill: $pink;
}

.footer__htmlacademy-image:hover {
  fill: $dark;
}

.footer__htmlacademy-image:active {
  fill: $dark;
  opacity: 0.3;
}

.footer__image {
  margin-left: auto;
  margin-right: auto;

  @include media-width($desktop-width) {
    display: none;
  }
}

.footer__image:hover {
  fill: $pink;
}

.footer__image:active {
  fill: $black;
  opacity: 0.3;
}

.footer--hidden {
  display: none;

  @include media-width($tablet-width) {
    display: block;
  }
}

.footer__image--desktop {
  display: none;

  @include media-width($desktop-width) {
    display: inline-block;
  }
}
