.form {
  @include media-width($tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  @include media-width($desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.form__chapter {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $dark;
  margin-top: 45px;
  margin-bottom: 35px;

  @include media-width($tablet-width) {
    font-size: 18px;
    order: -1;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 71px;
    margin-top: 91px;
  }

  @include media-width($desktop-width) {
    margin-bottom: 64px;
  }
}

.form__text {
}

.form__main-item {
  color: $pink;
  font-size: 14px;
  line-height: 30px;
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 44px;

  @include media-width($tablet-width) {
    order: 0;
  }

  @include media-width($desktop-width) {
    padding-top: 25px;
    margin-bottom: 0;
    min-width: 433px;
  }
}

.form__progress {
  background-color: $gray;
  border: none;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;

  @include media-width($tablet-width) {
    background-color: $white;
    border: 2px solid $gray;
    margin: 0;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 70px;
    order: 3;
  }
}

.form__contacts {
  margin: 0;
  border: none;
  padding: 0;
  padding-top: 20px;

  @include media-width($tablet-width) {
    border: 2px solid $gray;
    padding-bottom: 11px;
    margin-bottom: 70px;
    order: 2;
  }

  @include media-width($desktop-width) {
    padding: 0;
  }
}

.form__platform {
  background-color: $gray;
  border: none;
  padding: 0;
  margin-left: -20px;
  margin-right: -20px;
  padding-right: 20px;
  padding-left: 20px;

  @include media-width($tablet-width) {
    background-color: $white;
    border: 2px solid $gray;
    margin: 0;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 70px;
    order: 1;
  }

  @include media-width($desktop-width) {
    margin-bottom: 56px;
  }
}

.form__description {
  border: none;
  margin: 0;
  padding: 0;
  text-align: center;

  @include media-width($tablet-width) {
    border: 2px solid $gray;
    margin-bottom: 70px;
    padding-left: 60px;
    padding-right: 60px;
    order: 4;
  }
}

.form__dispatch {
  text-align: center;

  @include media-width($tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 88px;
    order: 5;
    flex-grow: 1;
  }
}

.form__title {
  color: $pink;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

  @include media-width($tablet-width) {
    padding-top: 0;
  }

  @include media-width($desktop-width) {
    line-height: 30px;
  }
}

.form__button {
  width: 275px;
  height: 59px;
  background-color: $green;
  color: $white;
  border: none;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  border-radius: 3%;
  margin-bottom: 46px;
  padding: 0;

  @include media-width($tablet-width) {
    margin-bottom: 0;
  }
}

.form__button:hover {
  background-color: $heavygreen;
}

.form__button:active {
  color: rgba(255, 255, 255, 0.3);
}

.form__button:disabled {
  color: $white;
  background-color: $lightgray;
}

.form__mandatory {
  font-size: 14px;
  line-height: 30px;
  color: $dark;
}

.form__note {
  color: $pink;
}

.form input:hover {
  border-color: $dark;
}

.form input:active {
  border-color: $pink;
}

.form__text--hidden {
  display: none;

  @include media-width($tablet-width) {
    display: inline-block;    
  }
}

.form__title--contact {
  display: none;

  @include media-width($tablet-width) {
    display: inline-block;
  }
}
