.header {
  background-color: $black;
  padding-top: 22px;
  padding-bottom: 22px;

  @include media-width($tablet-width) {
    padding-top: 26px;
    padding-bottom: 43px;
  }

  .header__wrapper {
    @include media-width($desktop-width) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.header__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;


  @include media-width($tablet-width) {
    align-items: flex-end;
  }
}

.header__toggle {
  position: relative;
  display: block;
  width: 50px;
  height: 24px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  font-size: 0;
  cursor: pointer;

  @include media-width($desktop-width) {
    display: none;
  }
}

.header__toggle::before,
.header__toggle::after,
.header__toggle span {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: $white;
  transition: 0.1;
}

.header__toggle::before {
  top: 0;
}

.header__toggle::after {
  bottom: 0;
}

.header__toggle span {
  top: 50%;
  transform: translateY(-50%);
}

.header__toggle:hover::before,
.header__toggle:hover::after,
.header__toggle:hover span {
  background-color: $pink;
}

.header__toggle:active::before,
.header__toggle:active::after,
.header__toggle:active span {
  background-color: rgba(210, 40, 86, 0.3);
}

.header__toggle--opened::before,
.header__toggle--opened::after {
  top: 50%;
  width: 57%;
  height: 4px;
  transform: translateY(-50%) rotate(45deg);
}

.header__toggle--opened::after {
  bottom: auto;
  transform: translateY(-50%) rotate(-45deg);
}

.header__toggle--opened span {
  width: 0;
}

.header__toggle--nojs {
  display: none;
}

.header__image {
  display: none;
  fill: $white;
}

.header__image--mobile {
  display: inline-block;

  @include media-width($tablet-width) {
    display: none;
  }
}

.header__image--tablet {
  @include media-width($tablet-width) {
    display: inline-block;
  }

  @include media-width($desktop-width) {
    display: none;
  }
}

.header__image--desktop {
  @include media-width($desktop-width) {
    display: inline-block;
  }
}

.header__image:hover {
  fill: $pink;
}

.header__image:active {
  fill: $white;
  opacity: 0.3;
}
