.input-list-contacts__catalog {
  @include media-width($tablet-width) {
    padding-left: 58px;
    padding-right: 58px;
  }

  @include media-width($desktop-width) {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

.input-list-contacts__item {
  margin-bottom: 16px;

  @include media-width($tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-bottom: 29px;
  }

  @include media-width($desktop-width) {
    margin-bottom: 14px;
    min-width: 373px;
  }
}

.input-list-contacts__item:last-child {
  @include media-width($tablet-width) {
    margin-bottom: 14px;
  }

  @include media-width($desktop-width) {
    margin-left: 73px;
  }
}

.input-list-contacts__label {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 30px;
  color: $pink;
  text-transform: uppercase;
  margin-left: 21px;
  margin-bottom: 5px;

  @include media-width($tablet-width) {
    margin: 0;
    margin-left: 18px;
  }
}

.input-list-contacts__text {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  padding: 15px 21px 15px 21px;
  border: 2px solid $lightgray;
  color: $dark;
  width: 100%;

  @include media-width($tablet-width) {
    margin-bottom: 9px;
    padding: 15px 77px 15px 17px;
  }
}

.input-list-contacts__field {
  position: relative;
}

.input-list-contacts__image {
  display: none;
  position: absolute;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: $gray;
  width: 60px;
  height: 59px;
  top: 2px;
  right: 3px;

  @include media-width($tablet-width) {
    display: inline-block;
    vertical-align: top;
  }
}

.input-list-contacts__image--email {
  background-image: url("../img/icon-mail.svg");
  right: 2px;
}
