.input-list__item {
  margin-bottom: 16px;

  @include media-width($tablet-width) {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
  }

  @include media-width($desktop-width) {
    margin-bottom: 51px;
  }
}

.input-list__item:last-child {
  margin-bottom: 0;
}

.input-list__label {
  display: inline-block;
  vertical-align: top;
  margin-left: 23px;
  margin-bottom: 4px;
  text-transform: uppercase;

  @include media-width($tablet-width) {
    margin: 0;
    margin-right: 18px;
  }
}

.input-list__text {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  padding: 17px 20px 14px 20px;
  border: 2px solid $lightgray;
  color: $dark;
  width: 100%;
}
