.input-list__text {
  padding: 22px 21px 18px 21px;
  border: 2px solid $lightgray;
  font-size: 18px;
  line-height: 30px;
  color: $dark;
  width: 100%;
}

.input-list__label {
  padding-left: 21px;

  @include media-width($tablet-width) {
    padding-left: 0px;
    padding-right: 22px;
  }
}

.input-list__item {
  margin-bottom: 10px;

  @include media-width($tablet-width) {
    margin-bottom: 56px;
    display: flex;
    align-items: center;
  }
}
