.input-list-contacts {
  @include media-width($desktop-width) {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

.input-list-contacts__item {
  margin-bottom: 28px;

  @include media-width($tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding-left: 60px;
    padding-right: 60px;
  }

  @include media-width($desktop-width) {
    margin-bottom: 20px;
  }
}

.input-list-contacts__label {
  font-size: 14px;
  line-height: 30px;
  color: $pink;
  padding-left: 21px;
}

.input-list-contacts__text {
  padding: 22px 21px 18px 21px;
  border: 2px solid $lightgray;
  font-size: 18px;
  line-height: 30px;
  color: $dark;
  width: 100%;

  @include media-width($tablet-width) {
    margin-bottom: 21px;
  }
}
