.loading {
  @include media-width($tablet-width) {
    margin-top: 28px;
  }

  @include media-width($desktop-width) {
    margin-top: 8px;
  }
}

.loading__list {
  padding-bottom: 22px;
  background-color: $gray;

  @include media-width($desktop-width) {
    background-color: $white;
    padding-bottom: 25px;
  }
}

.loading__text-item {
  font-size: 14px;
  line-height: 30px;
  color: $dark;
  text-align: center;
  background-color: $white;
  padding-bottom: 41px;

  @include media-width($tablet-width) {
    font-size: 18px;
    padding-bottom: 69px;
  }
}

.loading__post {
  padding-top: 20px;

  @include media-width($tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
    padding-top: 40px;
  }

  @include media-width($desktop-width) {
    padding: 42px 60px 57px 80px;
    background-color: $gray;
  }
}

.loading__picture {
  display: block;
  margin-left: auto;
  margin-right: auto;

  @include media-width($tablet-width) {
    width: 300px;
    height: 400px;
    margin-right: 72px;
    margin-top: 17px;
  }
}

.loading__control {
  background-color: $gray;
  padding-top: 41px;
  padding-bottom: 21px;

  @include media-width($tablet-width) {
    padding: 0;
  }
}

.loading__toggle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 29px;
  margin-left: 15px;

  @include media-width($tablet-width) {
    display: flex;
    flex-wrap: wrap;
    max-width: 295px;
    margin: 0;
    margin-bottom: 71px;

    @include media-width($desktop-width) {
      max-width: 410px;
      margin-bottom: 150px;
    }
  }
}

.loading__slider {
  position: relative;
  width: 240px;
  height: 2px;
  background-color: $dark;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 34px;

  @include media-width($tablet-width) {
    display: none;
  }
}

.loading__slider__switch {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 2px solid $pink;
  border-radius: 50%;
  top: -6px;
  left: 192px;
  background-color: $gray;
}

.loading__action {
  padding-top: 39px;
  text-align: center;
  border-top: 1px solid $dark;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;

  @include media-width($tablet-width) {
    border: none;
    width: 260px;
    padding: 0;
    margin: 0;
    margin-right: auto;
  }

  @include media-width($desktop-width) {
    display: flex;
  }
}

.loading__button {
  line-height: 18px;
  font-weight: bold;
  border: 3px solid $dark;
  border-radius: 35px;
  padding: 15px 15px 15px 15px;
  font-size: 18px;
  width: 100%;
  cursor: pointer;

  @include media-width($desktop-width) {
    display: inline-block;
    vertical-align: top;
    min-width: 183px;
  }
}

.loading__button--upload {
  border-color: $pink;
  color: $pink;
  margin-bottom: 12px;

  @include media-width($tablet-width) {
    margin-bottom: 25px;
  }

  @include media-width($desktop-width) {
    margin: 0;
    margin-right: 44px;
  }
}

.loading__button--upload:hover {
  background-color: $pink;
  color: $white;
}

.loading__button--upload:active {
  color: rgba(255, 255, 255, 0.3);
}

.loading__button--cancel {
  border-color: rgba(40, 54, 69, 0.1);
  color: rgba(40, 54, 69, 0.1);
}

.loading__button--cancel:hover {
  border-color: rgba(40, 54, 69, 0.3);
  color: rgba(40, 54, 69, 0.3);
}

.loading__button--cancel:active {
  background-color: rgba(40, 54, 69, 0.3);
  color: rgba(255, 255, 255, 0.3);
  border-color: rgba(40, 54, 69, 0.3);
}
