.main {
  color: $black;
  margin: 0;
}

.main__title {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-color: $black;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 660px auto;
  }

  @include media-width($tablet-width) {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: top center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 960px auto;
    }
  }

  @include media-width($desktop-width) {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: top center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px auto;
    }
  }
}

.main__tagline {
  color: $white;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  padding-top: 96px;
  text-align: center;
  padding-bottom: 51px;
  margin-top: -67px;

  @include media-width($tablet-width) {
    color: $white;
    font-size: 50px;
    line-height: 60px;
    padding-top: 179px;
    padding-bottom: 77px;
    margin-top: -108px;
  }

  @include media-width($desktop-width) {
    margin-left: auto;
    margin-right: auto;
    padding-top: 172px;
    padding-bottom: 100px;
  }
}

.main__tagline--photo {
  padding-top: 97px;
  padding-bottom: 81px;

  @include media-width($tablet-width) {
    padding-top: 179px;
    padding-bottom: 141px;
  }

  @include media-width($desktop-width) {
    max-width: 500px;
    padding-top: 172px;
    padding-bottom: 100px;
  }
}
