.main-nav {
  width: 100%;
  display: none;

  @include media-width($desktop-width) {
    display: block;
    width: auto;
    padding-top: 11px;
  }
}

.main-nav__list {
  border-top: 1px solid $black;
  margin-left: -20px;
  margin-right: -20px;

  @include media-width($desktop-width) {
    border-top: none;
    display: flex;
    margin: 0;
  }
}

.main-nav__item {
  text-transform: uppercase;
  border-bottom: 1px solid $black;
  border-top: 1px solid #485461;
  text-align: center;

  @include media-width($desktop-width) {
    border: none;
    text-transform: capitalize;
    margin-right: 80px;
  }
}


.main-nav__item:last-child {
  @include media-width($desktop-width) {
    margin-right: 0;
  }
}

.main-nav__link {
  display: block;
  padding: 15px 20px 15px 20px;
  color: $white;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;

  @include media-width($tablet-width) {
    padding: 15px 20px 15px 20px;
  }

  @include media-width($desktop-width) {
    font-weight: normal;
    padding: 0;
    line-height: 18px;
  }
}

.main-nav__link--active {
  position: relative;
}

.main-nav__link--active::before {
  @include media-width($desktop-width) {
    content: "";
    position: absolute;
    right: 0;
    bottom: -13px;
    left: 0;
    height: 2px;
    background: white;
  }
}

.main-nav__link:hover {
  color: $pink;
}

.main-nav__link:active {
  color: rgba(210, 40, 86, 0.3);

  @include media-width($desktop-width) {
    color: rgba(255, 255, 255, 0.3);
  }
}

.main-nav--nojs {
  @media (max-width: $until-desktop-width) {
    display: block;
  }
}

.main-nav--opened {
  display: block;
}
