.offering {
  color: $dark;
  font-size: 24px;
  font-weight: 300;
  text-align: center;

  @include media-width($tablet-width) {
    font-size: 40px;
    line-height: 50px;
  }

  @include media-width($desktop-width) {
    font-size: 50px;
    line-height: 60px;
  }
}

.offering__motto {
  padding-top: 46px;
  padding-bottom: 29px;
}

.offering__question {
  margin-bottom: 30px;

  @include media-width($tablet-width) {
    margin-bottom: 0px;
  }
}

.offering__answer {

  @include media-width($tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include media-width($desktop-width) {
    padding-left: 100px;
    padding-right: 100px;
  }
}
