.offering {
  color: $dark;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.offering__motto {
  padding: 46px 58px 29px 58px;
}

.offering__question, .offering__answer {
  margin-top: 0;
}
