.page-main {
  color: $black;
  margin: 0;
}

.page-main__title {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $black;

}

.page-main__tagline {
  color: $white;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  padding-top: 36px;
  text-align: center;
  padding-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .page-main__title {
    background-image: url("../img/bg-back-tablet@1x.jpg");
 }

 .page-main__tagline {
   color: $white;
   font-size: 50px;
   line-height: 60px;
   padding-top: 83px;
   padding-bottom: 79px;
 }
}
