.page-header {
  background-color: $black;
}

.page-header__cap {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 25px;
}

.page-header__toggle {
  background-color: transparent;
  border: none;
}

@media (min-width: $tablet-width) {
  .page-header__cap {
    padding-top: 27px;
    padding-bottom: 42px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__toggle {
    display: none;
  }

  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .page-header__cap {
    padding-right: 170px;
  }
}
