.page-footer__advertising {
  padding-top: 40px;
  padding-bottom: 40px;

  @include media-width($tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__advertising--index {
  display: none;

  @include media-width($tablet-width) {
    display: flex;
  }
}

.page-footer__link {
  margin-bottom: 43px;
  text-align: center;
}

.page-footer__social {
  padding: 0;
  margin-bottom: 41px;
}

.page-footer__developer {
  display: flex;
  justify-content: center;
}

.page-footer__text {
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: $dark;
  margin-right: 15px;
  padding-top: 5px;

  @include media-width($desktop-width) {
    font-size: 18px;
  }
}

.page-footer__logo-image {
  display: inline-block;
}

.page-footer__image-map {
  width: 100%;
}
