.page-footer__advertising {
  padding: 64px 22px 40px 22px;
}

.page-footer_link {
  margin-bottom: 43px;
  text-align: center;
}

.page-footer__social {
  padding: 0;
  margin-bottom: 41px;
  margin-left: 53px;
  margin-right: 53px;
}

.page-footer__developer {
  display: flex;
  justify-content: space-around;
  padding-left: 74px;
  padding-right: 74px;
}

.page-footer__text {
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: $dark;
}
