.page-header {
  background-color: $black;
}

.page-header__cap {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 25px;

  @include media-width($tablet-width) {
    padding-top: 27px;
    padding-bottom: 42px;
  }

  @include media-width($desktop-width) {
    padding-right: 170px;
  }
}

.page-header__toggle {
  background-color: transparent;
  border: none;

  @include media-width($desktop-width) {
    display: none;
  }
}

.page-header__wrapper {

  @include media-width($desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}
