.prices {
  position: relative;
  background-color: $gray;
  padding-top: 125px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;

  @include media-width($tablet-width) {
    padding-top: 99px;
    padding-bottom: 35px;
  }

  @include media-width($desktop-width) {
    padding-top: 146px;
    padding-bottom: 96px;
  }
}

.prices__table {
  width: 100%;
  margin-bottom: 34px;
  text-transform: uppercase;

  @include media-width($desktop-width) {
    margin-bottom: 0;
  }
}

.prices__heading {
  background-color: $dark;
}

.prices__title {
  color: $white;
  font-size: 18px;
  line-height: 30px;
  padding-top: 15px;
  padding-bottom: 2px;

  @include media-width($tablet-width) {
    font-size: 16px;
    padding-top: 11px;
  }

  @include media-width($desktop-width) {
    font-size: 18px;
    padding-top: 16px;
    padding-bottom: 1px;
  }
}

.prices__worth {
  font-size: 24px;
  font-weight: 300;
  color: $white;
  padding-bottom: 21px;

  @include media-width($tablet-width) {
    font-size: 18px;
    padding-bottom: 13px;
  }

  @include media-width($desktop-width) {
    font-size: 24px;
    padding-bottom: 21px;
  }
}

.prices__option {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 30px;
  color: $dark;
  background-color: $white;
  text-align: left;
  font-weight: 300;
  padding: 13px 20px 13px 21px;

  @include media-width($tablet-width) {
    display: table-cell;
    text-transform: capitalize;
    padding: 7px 15px 7px 15px;
  }

  @include media-width($desktop-width) {
    font-size: 18px;
    text-align: left;
    padding: 14px 20px 15px 20px;
  }
}

.prices__choice {
  text-align: center;
  padding-top: 14px;
  padding-bottom: 10px;
  background-color: $white;
  display: none;

  @include media-width($tablet-width) {
    display: table-cell;
    padding: 0;
  }
}

.prices__selection {
  @include media-width($tablet-width) {
    display: none;
  }
}

.prices td {
  @include media-width($tablet-width) {
    width: calc(99.9% / 4);
  }
}

.prices__heading--off {
  display: none;

  @include media-width($tablet-width) {
    display: table-cell;
    opacity: 0;
  }
}

.prices__heading--showmobile {
  display: none;

  @include media-width($tablet-width) {
    display: table-cell;
  }
}

.prices__heading--hit {
  position: relative;
}

.prices__heading--hit::before {
  content: "";
  position: absolute;
  background-image: url("../img/bg-hit.svg");
  background-repeat: no-repeat;
  background-position: top left;
  width: 100%;
  height: 72px;
  top: 0;
  left: 0;

  @include media-width($tablet-width) {
    background-image: url("../img/bg-hit-tablet.svg");
    height: 61px;
    width: 61px;
  }

  @include media-width($desktop-width) {
    height: 173px;
  }
}

.prices__hit {
  position: absolute;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: $white;
  top: 17px;
  left: 9px;
  transform: rotate(-45deg);

  @include media-width($tablet-width) {
    top: 9px;
  }
}

.prices::before {
  content: "";
  position: absolute;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  height: 94px;
  right: 50%;
  transform: translateX(50%);
  top: 0;

  @include media-width($tablet-width) {
    top: -5px;
  }
}
