.price {
  background-color: $gray;
  padding-top: 127px;
  padding-bottom: 41px;
}

.price__slider {
  width: 6px;
  height: 6px;
  opacity: 0.3;
  background-color: $dark;
  border-radius: 50%;
  border: none;
}

.price__toggles {
  display: flex;
  justify-content: space-around;
  padding-left: 132px;
  padding-right: 132px;
}

.price__rate {
  background-color: $dark;
  color: $white;
  font-size: 18px;
  line-height: 30px;
  padding-top: 23px;
  padding-bottom: 21px;
}

.price__rate span {
  font-size: 24px;
  font-weight: 300;
}

.price__item {
  font-size: 14px;
  font-weight: 30px;
  color: $dark;
  background-color: $white;
  text-align: left;
  font-weight: 300;
  padding-left: 22px;
  padding-right: 22px;
  border-bottom: 1px solid $gray;
}

.price__row {
  display: flex;
  justify-content: space-between;
  border: 1px solid $gray;
  border-bottom: none;
  padding: 22px 18px 23px 22px;
  align-items: center;
}

.price__toggles {
  padding: 45px 132px 10px 132px;
}
