.radio-list {
  padding: 43px 22px 8px 22px;
}

.radio-list__label {
  font-size: 18px;
  line-height: 30px;
  color: $dark;
}

.radio-list__input {
  margin-right: 33px;
}

.radio-list__item {
  margin-bottom: 39px;
}
