.radio-list {
  padding-top: 43px;
  padding-bottom: 8px;
}

.radio-list__label {
  font-size: 18px;
  line-height: 30px;
  color: $dark;
}

.radio-list__input {
  margin-right: 33px;
}

.radio-list__item {
  margin-bottom: 39px;
}
