.research__wrapper {
  padding-top: 50px;
  padding-bottom: 100px;
  display: flex;
  display: none;

  @media (min-width: $tablet-width) {
        display: flex;
  }
}

.research__picture {
  padding-right: 70px;
}

.research__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
}

.research__text {
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  color: $dark;
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.research__link {
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  color: $pink;
  text-decoration: underline;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.research__details {
  padding-top: 43px;

  @media (min-width: $desktop-width) {
        padding-right: 40px;
  }
}


@media (min-width: $desktop-width) {
  .research {
    background-color: $gray;
  }
}
