.reviews {
  padding-top: 25px;
  padding-bottom: 30px;
}

.reviews__name {
  font-size: 18px;
  line-height: 30px;
  color: $black;
  margin-bottom: 25px;

  @include media-width($tablet-width) {
    margin-bottom: 5px;
    font-size: 20px;
  }
}

.reviews__text {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $dark;

  @include media-width($tablet-width) {
    font-size: 18px;
  }

  @include media-width($desktop-width) {
    padding-right: 105px;
    padding-left: 105px;
  }
}

.reviews__toggles {
  display: flex;
  justify-content: center;
}

.reviews__slider {
  width: 6px;
  height: 6px;
  opacity: 0.3;
  background-color: $dark;
  border-radius: 50%;
  border: none;
  margin: 0 10px 10px 10px;

  @include media-width($desktop-width) {
    display: none;
  }
}

.reviews__list {
  @include media-width($tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column-reverse;
    margin-bottom: 43px;
  }
}

.reviews__status {
  display: none;
  font-size: 14px;
  line-height: 30px;
  color: $dark;
  text-align: center;

  @include media-width($tablet-width) {
    display: block;
  }
}

.reviews__quotes {
  display: none;
  margin-top: 48px;
  margin-bottom: 58px;
  text-align: center;

  @include media-width($desktop-width) {
    display: block;
  }
}

.reviews__arrow {
  display: none;

  @include media-width($desktop-width) {
    display: inline-block;
  }
}

.reviews__history {
  margin-bottom: 42px;

  @include media-width($desktop-width) {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.reviews__button {
  border: none;
  background-color: transparent;
}

.reviews__slider--dedicated {
  width: 6px;
  height: 6px;
  background-color: $white;
  border: 3px solid $black;
}
