.reviews {
  padding-top: 42px;
  padding-bottom: 34px;

  @include media-width($tablet-width) {
    padding-top: 28px;
    padding-bottom: 16px;
  }

  @include media-width($desktop-width) {
    padding-bottom: 13px;
  }
}

.reviews__quotes {
  display: none;
  margin-top: 48px;
  margin-bottom: 43px;
  text-align: center;

  @include media-width($desktop-width) {
    display: block;
    margin-top: 41px;
    margin-bottom: 46px;
  }
}

.reviews__list {
  @include media-width($tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column-reverse;
    margin-bottom: 30px;
  }
}

.reviews__history {
  margin-bottom: 30px;

  @include media-width($tablet-width) {
    margin-bottom: 34px;
  }

  @include media-width($desktop-width) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 38px;
  }
}

.reviews__name {
  font-size: 18px;
  line-height: 30px;
  color: $black;
  margin-bottom: 13px;

  @include media-width($tablet-width) {
    margin-bottom: 1px;
    font-size: 20px;
  }

  @include media-width($desktop-width) {
    font-size: 24px;
  }
}

.reviews__status {
  display: none;
  font-size: 14px;
  line-height: 30px;
  color: $dark;
  text-align: center;

  @include media-width($tablet-width) {
    display: block;
  }

  @include media-width($desktop-width) {
    font-size: 18px;
  }
}

.reviews__text {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $dark;

  @include media-width($tablet-width) {
    font-size: 18px;
  }

  @include media-width($desktop-width) {
    padding-right: 90px;
    padding-left: 90px;
  }
}

.reviews__arrow {
  display: none;
  margin-top: 5px;
  fill: $dark;
  opacity: 0.3;

  @include media-width($desktop-width) {
    display: inline-block;
  }
}

.reviews__arrow:hover {
  opacity: 0.6;
}

.reviews__arrow:active {
  opacity: 0.1;
}

.reviews__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.reviews__quotes-image {
  fill: $gray;
}
