.social {
  display: flex;
  justify-content: center;
}

.social__item {
  margin-right: 7px;
  margin-left: 7px;
  margin-bottom: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 49px;
  height: 49px;
  border: solid 3px rgba(40, 54, 69, 0.1);
  border-radius: 50%;
}

.social__link:hover {
  border-color: $dark;
}

.social__link:active {
  border-color: rgba(40, 54, 69, 0.3);
}

.social__link:active path {
  opacity: 0.3;
}
