.social {
  display: flex;
  justify-content: center;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border: solid 3px rgba(40, 54, 69, 0.1);
  border-radius: 50%;
}

.social__item {
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 10px;
}
