.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border: solid 3px $dark;
  border: solid 3px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.social {
  display: flex;
}

.social__item {
  margin-right: 4px;
  margin-left: 4px;
  margin-bottom: 10px;
}
