.sort-list {
  padding-bottom: 5px;

  @include media-width($desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.sort-list__item {
  margin-bottom: 29px;
  text-align: center;

  @include media-width($tablet-width) {
    text-align: left;
    margin-bottom: 34px;
  }

  @include media-width($desktop-width) {
    width: calc((99.9%  - 20px * 2) / 3);
    margin-right: 20px;
    text-align: center;
  }
}

.sort-list__item:nth-of-type(3n) {
  margin-right: 0;
}

.sort-list__picture {
  display: none;
  width: auto;

  @include media-width($desktop-width) {
    display: inline-block;
    margin-bottom: 53px;
  }
}

.sort-list__title {
  color: $black;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 14px;

  @include media-width($tablet-width) {
    text-align: left;
    margin-bottom: 13px;
  }

  @include media-width($desktop-width) {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 21px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
  }
}

.sort-list__text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;

  @include media-width($desktop-width) {
    font-size: 18px;
    line-height: 30px;
    padding-right: 30px;
    padding-left: 30px;
  }
}
