.sort-list {

  @include media-width($desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-bottom: 33px;
    text-align: center;

    @include media-width($tablet-width) {
      margin-bottom: 36px;
      text-align: left;
    }

    @include media-width($desktop-width) {
      width: calc((99.9%  - 20px * 2) / 3);
      margin-right: 20px;
      text-align: center;

      &:nth-of-type(3n) {
        margin-right: 0;
      }
    }
  }

  &__picture {
    display: none;
    width: auto;

    @include media-width($desktop-width) {
      display: inline-block;
      margin-bottom: 53px;
    }
  }

  &__title {
    color: $black;
    font-size: 18px;
    margin-bottom: 14px;

    @include media-width($desktop-width) {
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 21px;
      padding-right: 30px;
      padding-left: 30px;
    }
  }

  &__text {
    margin: 0;

    @include media-width($desktop-width) {
      font-size: 18px;
      line-height: 30px;
      padding-right: 30px;
      padding-left: 30px;
    }
  }
}
