.sort-list__title {
  color: $black;
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}

.sort-list__text {
  color: $dark;
  font-size: 14px;
  text-align: center;
  margin: 0;
}

.sort-list__item {
  margin-bottom: 40px;
}
