.textarea-list__text {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  min-height: 200px;
  border: 2px solid $gray;
  margin-bottom: 45px;
  padding: 15px 19px 15px 19px;
  width: 100%;
  resize: vertical;
  border-radius: 2px;

  @include media-width($tablet-width) {
    min-height: 193px;
  }

  @include media-width($desktop-width) {
    min-width: 820px;
    min-height: 128px;
    margin-bottom: 40px;
  }
}
