.users {
  padding-bottom: 49px;
}

.users__text-item {
  padding-top: 56px;
  padding-bottom: 56px;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  color: $dark;

  @include media-width($tablet-width) {
    font-size: 18px;
  }
}
