.users-list {
  @include media-width($tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.users-list__info {
  padding: 25px 13px 28px 17px;
  margin-bottom: 20px;
  background-color: $gray;
}

.users-list__checkbox {
  width: 140px;
  height: 31px;
  background-color: $pink;
  color: $white;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 20px;
  padding-top: 5px;

  @include media-width($tablet-width) {
    top: 50px;
  }
}

.users-list__item {
  @include media-width($tablet-width) {
    width: calc((99.9% - 10px * 4) / 2);
    margin-bottom: 20px;
  }

  @include media-width($desktop-width) {
    width: calc((99.9% - 10px * 6) / 3);
  }
}

.users-list__picture {
  width: 100%;
}

.users-list__image--main {
  margin-right: -20px;
  margin-left: -20px;

  @include media-width($desktop-width) {
    margin-right: -130px;
    margin-left: -130px;
  }
}

.users-list__item--main {
  width: 100%;
  position: relative;
}
