.users-list {
  @include media-width($tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.users-list__info {
  padding: 25px 13px 28px 17px;
  margin-bottom: 20px;
  background-color: $gray;
}

.users-list__checkbox {
  width: 140px;
  height: 31px;
  background-color: $pink;
  color: $white;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 20px;
  padding-top: 5px;
}

.users-list__item {
  position: relative;

  @include media-width($tablet-width) {
    width: calc((99.9% - 10px * 4) / 2);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  @include media-width($desktop-width) {
    width: calc((99.9% - 10px * 6) / 3);
  }
}

.users-list__picture {
  width: 100%;
}

.users-list__picture--width {
  width: 100%;
}

.users-list__item--width {
  @include media-width($tablet-width) {
    width: 100%;
    margin: 0;
  }
}
