.users-list {
  @include media-width($tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    margin-bottom: 20px;

    @include media-width($tablet-width) {
      width: calc((99.9% - 10px * 4) / 2);
      margin-bottom: 20px;
      background-color: $gray;
      display: flex;
      flex-direction: column;
    }

    @include media-width($desktop-width) {
      width: calc((99.9% - 10px * 6) / 3);
    }

    &--main {
      width: 100%;
      position: relative;
    }
  }

  &__info {
    background-color: $gray;
    padding: 19px 12px 17px 17px;

    @include media-width($tablet-width) {
      padding: 21px 21px 25px 28px;
    }
  }

  &__checkbox {
    width: 140px;
    height: 36px;
    background-color: $pink;
    color: $white;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    right: -1px;
    padding-top: 5px;

    @include media-width($tablet-width) {
      top: 50px;
    }
  }

  &__picture {
    width: 100%;
  }

  &__image {
    &--main {
      margin-right: -20px;
      margin-left: -20px;

      @include media-width($desktop-width) {
        margin-right: -130px;
        margin-left: -130px;
      }
    }
  }
}
