@font-face {
  font-weight: 300;
  font-family: "OpenSans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/OpenSansLight.woff2") format("woff2"), url("../fonts/OpenSansLight.woff") format("woff");
}

@font-face {
  font-weight: normal;
  font-family: "OpenSans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/OpenSans.woff2") format("woff2"), url("../fonts/OpenSans.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "OpenSans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/OpenSansBold.woff2") format("woff2"), url("../fonts/OpenSans.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "OpenSans", "Arial", sans-serif;
}

input,
textarea {
  font-family: "Open Sans", "Arial", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
  text-align: center;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
