.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 980px;

    &--header {
    max-width: none;

    @include media-width($desktop-width) {
      max-width: 980px;
    }
  }
}
