$black: #000000;
$white: #ffffff;
$dark: #283645;
$pink: #d22856;
$gray: #f2f2f2;
$lightgray: #e5e5e5;
$green: #2aab6d;
$heavygreen: #1c9b5e;

$tablet-width: 660px;
$desktop-width: 1200px;
$until-desktop-width: 1199px;
